<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Movie Catalogs</title>
    <link rel="stylesheet" href="/new.css">
</head>

<body>
    <form action="/posts" method="post">
        <h1>Add New Movie</h1>
        <input name="titlename" placeholder="Enter Movie Title" required><br><br>
        <input name="dir_name" placeholder="Enter Director Name" required><br><br>

        <input name="poster" id="<%= posts.poster %>" type="text" placeholder="Enter Movie Poster URL" required><br><br>

        <textarea name="description" placeholder="Write the Description about Movie!" rows="5" required></textarea><br>
        <button type="submit">Submit</button>
    </form>
    <script src="style.js"></script>
</body>

</html>

