<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Movie Catalogs</title>
    <link rel="stylesheet" href="/new.css">
</head>

<body>
    <center>
        <form action="/posts" method="post">
            <h1>Add New Movie</h1>
            <input name="title" placeholder="Enter Movie Title" required><br><br>
            <input name="director" placeholder="Enter Director Name" required><br><br>
            <input name="release" type="number" placeholder="Enter Release Year" required><br><br>
            <input name="genre" type="text" placeholder="Enter Genre" required><br><br>
            <input name="ratings" type="number" step="0.1" placeholder="Enter Rating (0-10)" min="0" max="10" required><br><br>
            <input name="poster" type="text" placeholder="Enter Movie Poster URL" required><br><br>
            <textarea name="description" placeholder="Write the Description about Movie!" rows="5" required></textarea><br><br>
            <button type="submit">Submit</button>
        </form>
    </center>
    <script src="/style.js"></script>
</body>

</html>
